In [ ]:
import pandas as pd
import numpy as np
%pylab inline

data = pd.read_csv("./sample_data/california_housing_train.csv")
data.head()

Populating the interactive namespace from numpy and matplotlib

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
X = data.drop("median_house_value", axis=1)
y = data['median_house_value']

Xtr, Xval, ytr, yval = train_test_split(X, y, test_size=0.5, random_state=0)

arveres = RandomForestRegressor(n_estimators=300, min_samples_leaf=1, random_state=0, n_jobs=-1)
arveres.fit(Xtr, ytr)

p = arveres.predict(Xval)

np.sqrt(mean_squared_error(yval, p))

53513.61429324714

In [ ]:
 62k

 default -> 50822.200850256515
 n_estimators=200 -> 50633.64512666656
 n_estimators=300, msl=1 -> 50616.12238341953
 n_estimators=300, msl=2 -> 50653.35917991981

 n_estimators=50, msl=1 -> 51270.80612315185
 n_estimators=50, msl=2 -> 51318.7112874631

 n_estimators=10, msl=1 -> 53513.61429324714
 n_estimators=10, msl=2 -> 53136.269165482554

In [ ]:
1 arvore -> p1
1 arvore -> p2

(p1 + p2) / 2

features
linhas/exemplos

1000
amostra com reposição - bootstrap sampling - bagging

bagging
1 arvore - amostra1 -> p1
1 arvore - amostra2 -> p2

subspace sampling

10

1 arvore - amostra1 - 2 features -> p1
1 arvore - amostra2 - 2 features -> p2

In [ ]:
1
2
3
4
5

1
1
3
4
5

2